<div id="terminal">
  <div id="menu">
    <h1>The Q&uuml;est</h1>
    <p>Press s to start</p>
  </div>
  <div id="game">
    <div id="dungeon"></div>
    <div id="hud">
      <h2>Stats</h2>
      <ul>
        <li>Health 100</li>
        <li>Weapon Pen</li>
      </ul>
      <h2>Legend</h2>
      <ul>
        <li>@ You</li>
        <li># Impenetrable wall</li>
        <li>. Normal floor</li>
      </ul>
    </div>
  </div>
</div>
<audio id="music">
  <source src="/music.mp3" />
</audio>
