$white: #fdf6e3;
$black: #333;
$red: #db2e34;

html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: $red;
  color: $white;
  font-family: Menlo;
}

div#terminal {
  background: $black;
  border: 5px solid $white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: table;
  height: 600px;
  margin: 140px auto;
  width: 1000px;
}

/* MENU */

div#menu {
  display: table-cell;
  font-family: 'Press Start 2P';
  vertical-align: middle;
  text-align: center;
}

div#menu h1 {
  cursor: pointer;
  font-size: 5rem;
  line-height: 1;
}

div#menu p {
  font-size: 2rem;
  margin-top: 30px;
  -webkit-animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { color: $white; }
  50% { color: $black }
}

/* GAME */

div#game {
  display: none;
  font-size: 2rem;
  height: 600px;
  width: 100%;
}

div#dungeon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

div#hud {
  display: table-cell;
  font-size: 1.5rem;
  vertical-align: middle;

}

div#hud h2 {
  font-family: 'Press Start 2P';
  font-size: 2rem;
  margin: 20px 0 0 40px;
  text-decoration: underline;
}

div#hud ul {

  list-style-type: none;

  margin: 10px 0 0 40px;
  padding: 0;
}
